@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700;900&family=Hanken+Grotesk:wght@500;700;800&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body, button {
  font-family: 'Barlow', sans-serif;
}

img {
  width: 100%;
}

header {
  margin: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;
  background-color: #e8eff2;
  color: #162542;
  border: none;
  border-radius: 0.8rem;
  padding: 1.1rem 1.4rem;
}

/* SECTION 1 */

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.section-1 .content {
  margin: 6.4rem 2.4rem;
  max-width: 35rem;
}

.section-1 .content h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4.8rem;
  line-height: 4.8rem;
  color: #162542;
}

.section-1 .content p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #7b8bad;
  margin: 3.2rem 0;
}

.section-1 .content div {
  display: flex;
  align-items: center;
}

.section-1 .content button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.section-1 .content .pre-order-btn {
  background-color: #f16718;
  color: #fff;
  border: none;
  border-radius: 0.8rem;
  padding: 1.1rem 1.4rem;
}

.section-1 .content .release-btn {
  border: none;
  background-color: transparent;
  color: #7b8bad;
  margin-left: 3.2rem;
}

.section-1 .images {
  width: 100%;
  margin-left: 2.4rem;
  align-self: flex-start;
}

.section-1 .images .keyboard-img {
  min-width: 37.2rem;
  border-radius: 1.5rem;
}

.section-1 .images .pattern-square {
  display: none;
}

/* SECTION 2 */

.section-2 {
  margin-top: 2.4rem;
  overflow: hidden;
}

.section-2 .images {
  display: flex;
  margin-right: 2.4rem;
}

.section-2 .images img {
  height: 100%;
  border-radius: 1.5rem;
}

.section-2 .pattern-square {
  display: none;
}

.section-2 .phone-keyboard-img {
  position: relative;
  left: -2.4rem;
}

.section-2 .phone-keyboard-img img {
  min-width: 12.9rem;
}

.section-2 .glass-keyboard-img img {
  min-width: 22rem;
}

.section-2 .phone-keyboard-img::after {
  content: '';
  background: #f16718;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 1.5rem;
  left: 0;
  opacity: 0.6;
}

.section-2 .content {
  max-width: 35rem;
  margin: 7.5rem auto 0;
}

.section-2 h2 {
  width: 26rem;
  margin: 0 auto 2.4rem;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 3.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #162542;
}

.section-2 p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  color: #7b8bad;
}

/* SECTION 3 */

.section-3 {
  margin: 11.1rem 2.4rem 0;
}

.section-3 .icon {
  height: 6.5rem;
  width: 6.5rem;
  background-color: #f16718;
  border-radius: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-3 .icon.compatible img {
  height: 2rem;
  width: 2.5rem;
}

.section-3 .icon.bluetooth img {
  height: 2.78rem;
  width: 1.76rem
}

.section-3 .icon.battery img {
  height: 2rem;
  width: 3.2rem; 
}

.section-3 .icon.light img {
  height: 3.2rem;
  width: 3.2rem; 
}

.section-3 .card {
  max-width: 35rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.4rem;
}

.section-3 .card:last-child {
  margin-bottom: 0;
}

.section-3 .card h3 {
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-transform: uppercase;
  color: #162542;
  margin: 4.8rem 6rem 2.4rem;
}


.section-3 .card p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #7b8bad;
}

/* FOOTER */

footer {
  margin: 9.6rem auto 5rem;
}

footer p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #7b8bad;
  text-align: center;
  opacity: 0.6;
}

footer p span {
  font-weight: 700;
}

/* TABLET */

@media(min-width: 768px) {
  header {
    margin: 4rem;
  }

  header button {
    padding: 1.6rem 2.6rem;
  }

  /* SECTION 1 */

  .section-1 {
    display: flex;
    flex-direction: row;
    margin: 6.2rem 0 0 4rem;
  }

  .section-1 .content {
    margin: 0;
    min-width: 34rem;
  }

  .section-1 .content p {
    margin: 3.4rem 0 3.9rem;
  }

  .section-1 .content .pre-order-btn {
    padding: 1.6rem 2.6rem;
  }

  .section-1 .content .release-btn {
    margin-left: 3.7rem;
  }

  .section-1 .images {
    width: 100%;
    margin-left: 6.9rem;
    align-self: flex-start;
  }

  .section-1 .images .keyboard-img {
    min-width: 47.8rem;
    border-radius: 1.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  /* SECTION 2 */

  .section-2 {
    margin-top: 4rem;
    overflow: hidden;
  }

  .section-2 .images {
    margin: 0 4rem;
    height: 100%;
    justify-content: center;
  }

  .section-2 .images img {
    min-height: 32rem;
    border-radius: 1.5rem;
  }

  .section-2 .phone-keyboard-img {
    left: 0;
    margin-right: 3rem;
  }

  .section-2 .content {
    max-width: 100rem;
    margin: 7.2rem 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section-2 h2 {
    min-width: 26rem;
    margin: 0;
    text-align: left;
  }

  .section-2 p {
    max-width: 50rem;
    text-align: left;
    margin-left: 4rem;
  }

  /* SECTION 3 */

  .section-3 {
    margin: 14.2rem 0 0 4rem;
    display: grid;
    grid-template-columns: 28.1rem 28.1rem;
    gap: 7.2rem 6.9rem;
  }

  .section-3 .card {
    text-align: left;
    margin-bottom: 0;
    align-items: start;
  }

  .section-3 .card h3 {
    margin: 4rem 0 2.4rem;
    width: 20rem;
  }

  /* FOOTER */

  footer {
    margin: 14.2rem auto 4.3rem;
  }
}

/* DESKTOP */

@media(min-width: 1100px) {
  #root {
    overflow: hidden;
  }

  header {
    margin: 5.5rem auto 0;
    max-width: 111rem;
  }
  
  /* SECTION 1 */

  .section-1 {
    margin-top: 8.3rem;
    max-width: 111rem;
    margin: 8.3rem auto 0;
    justify-content: space-between;
    overflow: visible;
  }

  .section-1 .content {
    min-width: 44.5rem;
  }

  .section-1 .content h1 {
    font-size: 5.6rem;
    line-height: 5.6rem;
  }

  .section-1 .content p {
    font-size: 1.8rem;
    margin: 2.4rem 0 4rem;
  }

  .section-1 .images {
    display: flex;
    width: unset;
    position: relative;
  }

  .section-1 .images .keyboard-img {
    width: 54rem;
    height: 48rem;
    border-radius: 1.5rem;
  }

  .section-1 .images .pattern-square {
    display: block;
    width: 25.5rem;
    height: 24rem;
    position: absolute;
    right: -28.5rem;
  }

  /* SECTION 2 */

  .section-2 {
    margin: 3rem auto 0;
    overflow: unset;
    max-width: 111rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section-2 .images {
    margin: 0;
    position: relative;
  }

  .section-2 .images img {
    min-height: 48rem;
  }

  .section-2 .images .pattern-square {
    display: block;
    position: absolute;
    left: -28.5rem;
    bottom: 0;
  }

  .section-2 .images .pattern-square img {
    min-height: unset;
    width: 25.5rem;
    height: 23.6rem;
  }
  
  .section-2 .images .phone-keyboard-img img {
    width: 25.5rem;
  }

  .section-2 .images .glass-keyboard-img img {
    width: 44.5rem;
  }

  .section-2 .content {
    max-width: 26rem;
    margin: 0;
    flex-direction: column;
  }

  .section-2 p {
    margin: 2.7rem 0 0;
  }

  /* SECTION 3 */

  .section-3 {
    max-width: 111rem;
    margin: 16.8rem auto 0;
    grid-template-columns: repeat(4, 25.5rem);
    gap: 3rem;
  }

  .section-3 .card h3 {
    margin: 4.8rem 0 2.4rem;
  }

  /* FOOTER */

  footer {
    margin: 12.8rem auto 4rem;
  }
}

/* HOVER */

header button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #162542;
  transition: 0.3s ease;
} 

.section-1 .pre-order-btn:hover {
  cursor: pointer;
  background-color: #ff9b62;
}
